$color1: #000000;
$color2: #0e1423;
$color3: #0F2027;
$color4: #a0b2ca;
$color5: #d1e5e7;
$roxo: #545c98;

.principal_container {

    .task_section {
        max-width: 760px;
        margin: 100px auto 0 auto;
        padding: 25px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .task_section-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .task_form {

            form {
                border-bottom: 2px solid $roxo;
                display: flex;
                align-items: center;
                justify-content: center;

                input {
                    background: transparent;
                    border: none;
                    color: $color5;
                    font-size: 1.4em;
                    outline: none;
                    padding: 8px;
                    height: 45px;
                    width: 90%;

                    &::placeholder {
                        color: $color5;
                        font-size: .9em;    
                    }
                }

                button {
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    display: flex;

                    svg {
                        color: $color5 !important;
                    }
                }
            }
        }

        .tasks_list {
            margin-top: 40px;
            width: 100%;
            max-height: 600px;
            padding: 10px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: .5em;
            }
            
            &::-webkit-scrollbar-track {
                border-radius: 10px;
            }
            
            &::-webkit-scrollbar-thumb {
                background: $color5; 
                border-radius: 10px;
            }

            .task {
                background: #212d4e;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                margin-top: 10px;

                p {
                    color: $color5;
                    font-size: 1.4em;
                }

                .task_actions {
                    display: flex;

                    button {
                        background: transparent;
                        border: none;
                        cursor: pointer;
    
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        &:first-of-type {
                            margin-right: 10px;
                        }
    
                        svg {
                            color: $color5;
                            font-size: 1.8em;
                        }
                    }
                }

                .edit_input {
                    background: transparent;
                    border: none;
                    border: 1px solid $color5;
                    border-radius: 10px;
                    color: $color5;
                    font-size: 1.3em;
                    outline: none;
                    padding: 2px 8px;
                    width: 75%;
                    display: none;

                    &::placeholder {
                        color: $color5;
                        font-size: .9em; 
                    }
                }
            }
        }
    }

}